@charset "UTF-8";
#address {
  position: relative;
  top: 50px;
  margin: 20px auto;
  width: 99%;
}
#address .addr_info {
  min-height: 75px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #f2f2f2;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
#address .addr_info li {
  height: 40px;
  width: 96%;
  margin-bottom: 15px;
}
#address .addr_info li input {
  width: 100%;
  height: 100%;
  line-height: 100%;
  color: #bebebe;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 14px;
}
#address .addr_info li select {
  width: 30%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#address .addr_info li input[type='button'] {
  color: #fff;
  background: #1CB71C;
  width: 103%;
  font-size: 16px;
}
#address .addr_info li:first-child {
  margin-top: 10px;
}
.user_addr {
  min-height: 40px;
  border: 1px solid #ccc;
  margin: 10px;
  background: #fff;
  padding: 10px;
}
.user_addr p {
  height: 20px;
}
.user_addr li:first-child {
  margin-bottom: 20px;
}
.user_addr li:last-child {
  height: 30px;
  line-height: 30px;
  margin: -10px;
  border-top: 1px solid #ccc;
}
.user_addr span {
  display: block;
  float: left;
  height: 100%;
  width: 48%;
  text-align: center;
  font-size: 14px;
  color: #5c5c5c;
  cursor: pointer;
}
.user_addr span img {
  width: 15px;
  height: 15px;
}
.user_addr span:first-child {
  border-right: 1px solid #ccc;
}
.user_addr span:first-child img {
  width: 12px;
  height: 12px;
}
